.product-preview{
    height: calc(100vh - 80px);
    background: linear-gradient(to left, var(--black--bg-color), var(--black--bg-color)), url(../../img/menu/menu-background.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.product-view{
    background: var(--white-glass-color);
    padding: 20px;
    width: 35%;
    max-width: 350px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
}

.product-view:hover{
    background: var(--white-glass-color2);
    box-shadow: 0 0 20px 2px var(--white-glass-color2);
}

.product-view-frame{
    height: 170px;
}

.product-view-frame__pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product-view-data__title{
    font-size: 32px;
    color: var(--white-color);
    font-family: var(--font-swashed);
    text-transform: capitalize;
}

.product-view-texts__title{
    font-size: 22px;
    font-family: var(--font-salsa);
    color: var(--white-color);
    font-weight: 200;
}

.product-view-texts__paragraph{
    margin-top: 10px;
    color: var(--white-color);
    line-height: 25px;
    font-family: var(--font-genos);
    font-size: 20px;
}

.product-view-texts__price{
    color: var(--white-color);
    font-size: 16px;
    font-family: var(--font-salsa);
}

.product-view-content__add{
    display: block;
    background: var(--color-tertiary);
    color: var(--white-color);
    font-size: 20px;
    font-family: var(--font-genos);
    text-decoration: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
}

.relevant-previews{
    max-height: 475px;
    width: 65%;
    max-width: 730px;
    display: flex;
    flex-direction: column;
}

.relevant-products{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--white-color) var(--color-primary);
}

.relevant-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 6px;
    width: 200px;
    height: 220px;
    background: var(--white-glass-color);
    backdrop-filter: blur(6px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
}

.relevant-prod-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.relevant-frame{
    height: 120px;
}

.relevant-frame__pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.relevant-prod__title{
    color: var(--color-secondary);
    font-family: var(--font-swashed);
    font-size: 22px;
}

.relevant-product__price{
    color: var(--white-color);
    font-family: var(--font-genos);
    font-weight: 500;
    font-size: 20px;
}

.relevant-anchor{
    text-decoration: none;
}

.relevant-anchor:hover .relevant-product{
    background: var(--white-glass-color2);
}